
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="container">
    <div class="">
        <div class="btn-group">
            <a href="#" routerLink="/employees" id="list" class="btn btn-default .btn-group-lg">
                <span class="glyphicon glyphicon-th-list">
            </span></a>
            <a href="#" routerLink="/employees/card" id="grid" class="btn btn-default .btn-group-lg">
                <span class="glyphicon glyphicon-th"></span>
            </a>
            <a href="#" routerLink="/employees/new" id="add" class="btn btn-default .btn-group-lg">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
    <table class="table table-hover table-striped" *ngIf="employees.length>0;else noDataTemplate">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Platform</th>
                <th>Photo</th>
                <th>See Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | firstLetter:searchInitail ">
                <td><span [innerText]="employee.employeeName"></span></td>
                <td><span [innerText]="employee.phone"></span></td>
                <td><span [innerText]="employee.platform"></span></td>
                <td>
                    <img width="40" src="/images/{{employee.employeeName}}.jpg" [alt]="employee.employeeName">
                </td>
                <td>
                    <button class="btn-success" routerLink="/employees/{{employee.employeeId}}">More Details...</button>
                    <button class="btn-success" routerLink="/employees/edit/{{employee.employeeId}}">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>