<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Template Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let template of templateList | firstLetter:searchInitail ">
                <td><span [innerText]="template.tittle"></span></td>
                <td><span [innerText]="template.message"></span></td>
                <td>
                    <button class="btn-success" routerLink="/template/{{template.templateId}}">View</button>
                    <button class="btn-success" routerLink="/template/edit/{{template.templateId}}">Edit</button>
                    <button class="btn-success" routerLink="/template/edit/{{template.templateId}}">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>