<div *ngIf="projectDetails">
        <h1 [innerText]="pageTitle+projectDetails.projName |uppercase"></h1>
        <hr>
<table class="table table-hover table-striped">
    <tr>
        <th>Project Id</th>
            <td><span [innerText]="projectDetails.projId"></span></td>
          </tr>
    <tr>
        <th>Project Name</th>
            <td><span [innerText]="projectDetails.projName"></span></td>
      
    </tr>
    <tr>
        <th>Address</th>
            <td><span [innerText]="projectDetails.client"></span></td>
        
    </tr>
    <tr>
        <th>City</th>
            <td><span [innerText]="projectDetails.startDate"></span></td>
       
    </tr>
    <tr>
        <th>State</th>
            <td><span [innerText]="projectDetails.endDate"></span></td>
       
    </tr>
    
    <tr>
        <th></th>
        <td>
            <img [src]="projectDetails.avatar" [alt]="projectDetails.projName">
        </td>
    </tr>
</table>
</div>